@using Blazor.Extensions
@using Blazor.Extensions.Canvas.WebGL

<h3>Game</h3>

@* TODO: Add Mouse lock method *@
@* TODO: Add _context.GetExtension(...) *@
<BECanvas Width="@Width" Height="@Height"
          @ref="_canvasReference"
          OnClick="@RequestMouseLock"/>