@using Blazor.Extensions
@using Blazor.Extensions.Canvas.WebGL
@using MtgWeb.Core

@* TODO: Add _context.GetExtension(...) *@
<div>fps: @((1000.0f / Time.ActualDeltaTime).ToString("F1"))</div>
<BECanvas Width="@Width" Height="@Height"
          @ref="_canvasReference"
          OnClick="@RequestMouseLock"/>